.result-card {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    min-width: 380px;
    overflow: hidden;
    color: #202124;
}

.result-card img:hover {
    cursor: pointer;
}

.card-image {
    height: auto;
    width: auto;
}

.images-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.top-image-container {
    height: 150px;
    width: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.top-image {
    width: 100%;
}

.bottom-image-container {
    height: 90px;
    width: 33.33%;
    overflow: hidden;
}
.bottom-image {
    width: 100%;
}

.card-header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
    border-bottom:  1px solid rgb(223, 225, 229);
}

.card-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 50%;
}

.card-heading {
    width: 50%;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    display: flex;
    color: #202124;
    font-size: 30px;
    padding-top: 2vh;
    padding-left: 18px;
}

.category-name {
    width: 100%;
    color: #70757a;
    font-size: 14px;
    padding-top: 0.9vh;
    padding-left: 18px;
}

.share-container {
    justify-content: right;
    width: 50%;
    padding-top: 2vh;
    padding-left: 200px;
}

.social-share {
    height: 30px;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
    padding: 1vh 1vh 1vh 1vh;
}

.description {
    width: 95%;
    height: 50%;
}

.card-body p {
    color: #4d5156;
    font-size: 14px;
    line-height: 1.58;
    text-align: left;
}

.card-body a {
    text-decoration: none;
}

.card-body a:hover {
    text-decoration: underline;
}

.specs {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
    width: 95%;
    height: 50%;
    line-height: 1.58;
    padding: 1vh 1vh 0 0;
}

.specs a {
    color: #222;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.category-link {
    color: #1a0dab !important;
}

.property-name {
    font-weight: bolder;
}
.property-value {
    color: #3c4043;
    font-size: 14px;
    margin: 5px 0;
}

.additional {
    flex-wrap: wrap;
    width: 100%;
    font-size: 14px;
    line-height: 1.58;

}

.additional-item {
    width: 100%;
    padding-left: 1vh;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #ebebeb;
}

.additional-item:hover {
    cursor: pointer;
}

.expand-card {
    display: flex;
    align-self: center;
    float: right;
    padding-right: 20px;
}

.expand-card:hover {
    cursor: pointer;
}

.chess-players-container {
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 100%;
}

.players-header {
    display: flex;
    height: 2.8vh;
    width: 100%;
    margin: 20px 24px 10px 1vh;
}

.players-header h3 {
    font-size: 18px;
    line-height: 24px;
    width: 50%;
}

.players-header a {
    color: #202124;
}

.view-more {
    color: #70757a;
    width: 25%;
    text-align: right;
    line-height: 24px;
    font-size: 14px;
    padding-left: 60px;
    padding-right: 2px;
}

.view-more a {
    color: #70757a;
}

.chess-players-container a {
    text-decoration: none;
}

.chess-players-container a:hover {
    text-decoration: underline;
}

.players-body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 85px;
    overflow: hidden;
}

.player-container {
    position: relative;
    border-radius: 10px;
    width: 72px;
    height: 72px;
    margin: 5px 9px;
    overflow: hidden;
}

.player-photo {
    position: absolute;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.player-names {
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin-left: 19px;
    height: 25px;
}

.name {
    width: 55px;
    text-align: left;
}

.name a {
    font-size: 14px;
    color: #202124;
    font-family: 'Roboto', sans-serif;
}




