.result-card {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    min-width: 380px;
    color: #202124;
}

.card-image {
    height: auto;
    width: auto;
}

.images-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.top-image-container {
    height: 150px;
    width: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.top-image {
    width: 100%;
}

.bottom-image-container {
    height: 90px;
    width: 33.33%;
    overflow: hidden;
}
.bottom-image {
    width: 100%;
}

.card-header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2vh;
    border-bottom:  1px solid rgb(223, 225, 229);
}

.card-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 50%;
}

.card-heading {
    width: 50%;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    display: flex;
    color: #202124;
    font-size: 30px;
    padding-top: 2vh;
    padding-left: 1vw;
}

.category-name {
    width: 100%;
    color: #70757a;
    font-size: 14px;
    padding-top: 0.9vh;
    padding-left: 1vw;
}

.share-container {
    display: flex;
    justify-content: right;
    width: 50%;
    padding-top: 2vh;
    padding-left: 12vw;
}

.social-share {
    height: 30px;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    height: 22vh;
    width: 100%;
    padding: 1vh 1vh 1vh 1vh;
}

.description {
    width: 95%;
    height: 50%;
}

.card-body p {
    color: #4d5156;
    font-size: 14px;
    line-height: 1.58;
    text-align: left;
}

.card-body a {
    text-decoration: none;
}

.card-body a:hover {
    text-decoration: underline;
}

.specs {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
    width: 95%;
    height: 50%;
    line-height: 1.58;
    padding: 1vh 1vh 0 0;
}

.specs a {
    color: #222;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.property-value {
    color: #3c4043;
    font-size: 14px;
    margin: 5px 0;
}

.additional {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 14px;
    line-height: 1.58;

}

.additional-item-1 {
    width: 100%;
    padding-left: 1vh;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #ebebeb;
}

.additional-item-2 {
    width: 100%;
    padding-left: 1vh;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #ebebeb;

}

.additional-item-3 {
    width: 100%;
    padding-left: 1vh;
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.expand-card {
    display: flex;
    align-self: center;
    float: right;
    padding-right: 20px;
}

.expand-card:hover {
    cursor: pointer;
}

.chess-players-container {
    display: flex;
    height: 30vh;
    width: 100%;
}

.players-header {
    display: flex;
    width: 100%;
    margin: 24px 24px 0 1vh;
}

.players-header h3 {
    font-size: 18px;
    line-height: 24px;
    width: 50%;
}

.players-header a {
    color: #202124;

}

.view-more {
    display: inline-flex;
    align-self: baseline;
    color: #70757a;
    width: 30%;
    text-align: right;
    line-height: 24px;
    font-size: 14px;
    padding-left: 5vw;
}

.view-more a {
    color: #70757a;
}

.chess-players-container a {
    text-decoration: none;
}

.chess-players-container a:hover {
    text-decoration: underline;
}





